<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="12px" style="margin:12px">
  <mat-card >
	<mat-card-header>
		<mat-card-title>Totals</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<table>
		  <tr><td>Income:</td><td>{{ totalIncome }}</td></tr>
		  <tr><td>Expense</td><td>{{ totalExpense }}</td></tr>
		</table>
	</mat-card-content>
  </mat-card>
</div>
<section>
    <button mat-button color="primary"
        [disabled]="selectedRow != null && selectedRow.selected"
        (click)="onAddClicked()">Add</button>
    <button mat-button color="primary" 
    	[disabled]="selectedRow == null || !selectedRow.selected"
    	(click)="onEditClicked()">Edit</button>
    <button mat-button color="primary" 
    	[disabled]="selectedRow == null || !selectedRow.selected"
    	(click)="onDeleteClicked()">Delete</button>
    <button mat-button color="primary" 
    	[disabled]="selectedRow == null || !selectedRow.selected"
    	[routerLink]="['/account/trx']" [queryParams]="{uid: selectedRow?.id}">Transactions</button>
</section>
<mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let category"> {{category.name}} </mat-cell>
    <mat-footer-cell *matFooterCellDef>Total:</mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Income </mat-header-cell>
    <mat-cell *matCellDef="let category"> {{category.accountType == 'INCOME' ? category.balance : ''}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{ totalIncome }}</mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="balance">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Expense </mat-header-cell>
    <mat-cell *matCellDef="let category"> {{category.accountType == 'EXPENSE' ? category.balance : ''}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{ totalExpense }}</mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="currency">
    <mat-header-cell *matHeaderCellDef> Currency </mat-header-cell>
    <mat-cell *matCellDef="let category"> {{category.currency.symbol}} </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="cols; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: cols" 
  	(click)="onRowClicked(row)" 
  	[ngClass]="{ 'highlight': row.selected == true }"></mat-row>
  <mat-footer-row class="sticky-footer" *matFooterRowDef="cols; sticky: true"></mat-footer-row>
</mat-table>
<div class="row container-fluid" *ngIf="showEditArea" id="editarea" >
	<app-clearing-edit
	  [entity]="selectedRow"
	  (editCancelEvent)="onCancelEvent($event)"
	  (editSubmitEvent)="onSubmitEvent($event)"></app-clearing-edit>
</div>
