<section>
    <button mat-button color="primary"
        [disabled]="selectedRow != null && selectedRow.selected"
        (click)="onAddClicked()">Add</button>
    <button mat-button color="primary" 
    	[disabled]="selectedRow == null || !selectedRow.selected"
    	(click)="onEditClicked()">Edit</button>
    <button mat-button color="primary" 
    	[disabled]="selectedRow == null || !selectedRow.selected"
    	(click)="onDeleteClicked()">Delete</button>
</section>
<mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z0 table-container">
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let currency"> {{currency.symbol}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let currency"> {{currency.name}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="cols; sticky: true"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: cols" (click)="onRowClicked(row)" [ngClass]="{ 'highlight': row.selected == true }"></mat-row>
</mat-table>
<div class="row container-fluid" *ngIf="showEditArea" id="editarea" >
	<app-currency-edit
	  [entity]="selectedRow"
	  (editCancelEvent)="onCancelEvent($event)"
	  (editSubmitEvent)="onSubmitEvent($event)"></app-currency-edit>
</div>
